<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MPSE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>070A8CF91E389EAD00EA67A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>070A8D121E389EAE00EA67A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>070A8D1D1E389EAE00EA67A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
